.nav-container {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: #ef0300;
}

.nav-container-2 {
    width: 100%;
    height: 96px;
    background-color: white;
}

.nav-container-3 {
    width: 100%;
    height: 88px;
    display: flex;
    background-color: #fea200;
}

.nav-elements-container {
    width: 880px;
    height: 88px;
    margin: auto;
    display: flex;
    align-items: center;
}

.home-logo {
    margin: auto;
    cursor: pointer;
}

.watch-list-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}